<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body style="background-color: #f4d742">
		<script src="~/Scripts/angular.js"></script>
		<script src="~/Scripts/angular.vending-controller.js"></script>
	@RenderBody()
</body>
</html>
